

{% extends "layout.njk" %}

{% block head %}
  <title>Página não encontrada - Bruno Reis</title>
{% endblock %}

{% block content %}

  <div class="not-found">

    <h2 class="not-found__title">Essa página não existe.</h2>
    <a href="/" title="voltar" class="not-found__button">Voltar</a>

  </div>

{% endblock %}